@{
    ViewBag.Title = "Obrigado";
}


<h2>Orçamento do Projeto</h2>
<hr />
Precisamos de um projeto de software. Temos a solução por um preço justo <br />

@Html.ActionLink("Solicite um orçamento gratis", "Questionario");